.chat-widget {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 1000;
}

.chat-toggle-btn {
  background: rgb(15, 160, 217);
  color: white;
  border: none;
  border-radius: 50px;
  padding: 12px 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 8px;
  box-shadow: 0 4px 12px rgba(106, 53, 255, 0.3);
}

.chat-container {
  width: 350px;
  height: 500px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.chat-header {
  padding: 16px;
  background: skyblue;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.chat-header h3{
  color: white;
}
.chat-messages {
  flex: 1;
  padding: 16px;
  overflow-y: auto;
  text-align: left;
  font-Size: 10px;
}

.message {
  margin: 8px 0;
  padding: 10px 14px;
  border-radius: 12px;
  gap: 20px;
}

.message.bot {
  color: black;
  background: white;
  align-self: flex-start;
  width: 200px;
  box-shadow: 2px 2px 20px 2px rgb(97, 96, 96);
  float: left;
}

.message.user {
  background: rgb(196, 192, 192);
  color: white;
  align-self: flex-end;
  width: 200px;
  box-shadow: 2px 2px 20px 2px rgb(97, 96, 96);
  float: right;
}

.chat-input {
  display: flex;
  padding: 10px;
  border-top: 1px solid #eee;
}

.chat-input input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 20px;
  outline: none;
}

.chat-input button {
  background: var(--primary-purple);
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-left: 8px;
  cursor: pointer;
}